
h1,h3{
  text-align: center;
  background: #003F87;
  color: white;
  padding: 5px;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
}

.search{
  text-align: center;
  color: #003F87;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
body{
  background-color: white;
  color: black
}

td{
  text-align: center;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
